<div class="conteiner" id="contenedor">
  <div id="nombre" class="col-sm-12 col-md-12 col-xl-12">
    <h1>Encabezado</h1>
  </div>
  <div class="col-xs-12">
    <router-outlet></router-outlet>
    <!--
    <div class="col-sm-12 col-md-3 col-xl-4" id="c1">

    <app-mensaje-list></app-mensaje-list>
    </div>
    <div class="col-sm-12 col-md-3 col-xl-4" id="c2">





    </div>
    <div class="col-sm-12 col-md-6 col-xl-4" id="imag">
      <app-estadistica-paneldere></app-estadistica-paneldere>
      <app-students-list></app-students-list>

    </div>
  --></div>

  <div id="ultimo">
    <h3>17 De Septiembre Del Dos Mil Veintiuno</h3>
  </div>
</div>
